<div style="text-align: right;">
    <img class="closeButton"(click)="closeDialog()" src="assets/close.svg">
</div>
<div *ngIf="noResults||tooManyResults" style="text-align: center; padding-left: 15%;padding-right: 15%;">
    <br>
    <div style="padding-bottom: 30px;">
        <img  src="assets/search.svg">
    </div>
    <div style="overflow-wrap: break-word;">
        <p *ngIf="noResults" style="font-weight: 300;">Sorry, we couldn't find any matches for: <b>{{keyword}}</b></p>
        <p *ngIf="noResults && type==='keyword'" style="font-weight: 400;">Please try searching with another term</p>
        <p *ngIf="noResults && type==='carparkid'" style="font-weight: 400;">Please try using another carpark number</p>
        <p *ngIf="tooManyResults" style="font-weight: 300;">Oops, it seems like there are too many matches for: <br><b>{{keyword}}</b></p>
        <p *ngIf="tooManyResults" style="font-weight: 400;">Please try narrowing your search</p>
    </div>
</div>
<div *ngIf="enoughResults" style="text-align: center; padding-left: 15%;padding-right: 15%;">
    <br>
    <div style="padding-bottom: 30px;">
        <img  src="assets/locations.svg">
    </div>
    <p *ngIf="matchCount===1" style="font-weight: 300;">{{matchCount}} match found for <br><b>{{keyword}}</b></p>
    <p *ngIf="matchCount>1" style="font-weight: 300;">{{matchCount}} matches found for <br><b>{{keyword}}</b></p>
    <div *ngIf="type==='keyword'">
        <ul>
            <li *ngFor="let result of searchResults" style="padding-top: 5px; padding-bottom: 10px;"><a (click)="selectLocation(result.ADDRESS,type)" >{{result.ADDRESS}}</a></li>
        </ul>
    </div>
    <div *ngIf="type==='carparkid'">
        <ul>
            <li *ngFor="let result of searchResults" style="padding-top: 5px; padding-bottom: 10px;"><a (click)="selectLocation(result.address,type)" >{{result.address}}</a></li>
        </ul>
    </div>
</div>
 