<div class="centerdiv">
    <table>
        <tr>
            <td>
                <img style="height: 352px;width: 352px;" src="assets/SParking.svg">
            </td>
            <td>
                <div style="padding-left: 46.5px;padding-right: 46.5px;">
                    <img  src="assets/vl.svg">
                </div>
            </td>
            <td>
                <div style="width: 373px;">
                    <h1 style="font-size: 30px;">Say goodbye to parking hell</h1>
                    <br>
                    <p style="font-size: 16px;">
                        S.Parking aims to provide users with real time
                        parking updates for all HDB carparks, along with
                        suggesting possible alternatives for parking at
                        various places of interest in Singapore.
                    </p>
                    <br>
                    <button >Get Started</button>
                </div> 
                
            </td>
        </tr>
    </table>
</div>
